# folders:
/reports/

# exclude data 
/data/raw/
/data/external/Precipitation_daily_2018.csv
/data/external/Precipitation_daily_2019.csv
/data/external/Wind_hourly_2018.csv
/data/external/Wind_hourly_2019.csv

# notebooks:


# Jupyter NB Checkpoints
/notebooks/.ipynb_checkpoints/

# Pycharm
.idea


# Env


# Database


